/*
 * -------------------------------------------------
 *  HPC cluster config file (Tychus pipeline)
 * -------------------------------------------------
 * http://www.hpc.uct.ac.za/
 */

params {
   singularity_cache_dir = "/bb/DB/bio/singularity-containers/"
   igenomes_base = '/bb/DB/bio/rna-seq/references'
   max_memory = 384.GB
   max_cpus = 40
   max_time = 1000.h
   hpc_queue = 'ada'
   hpc_account = '--account cbio'

}

singularity {
   enabled = true
   cacheDir = params.singularity_cache_dir
   autoMounts = true
}

process {

   container = "/bb/DB/bio/singularity-containers/uct-cbio-rnaseq.img"
   executor = 'slurm'
   queue = params.hpc_queue
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
   clusterOptions = params.hpc_account
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
}
