/*
 * -------------------------------------------------
 *  HPC cluster config file (Tychus pipeline)
 * -------------------------------------------------
 * http://www.hpc.uct.ac.za/
 */

singularity {
   enabled = true
   cacheDir = params.singularity_cache_dir
   autoMounts = TRUE
}

params {
   igenomes_base = '/bb/DB/bio/rna-seq/references'
   max_memory = 384.GB
   max_cpus = 40
   max_time = 1000.h
	 email = params.email
   hpc_queue = 'ada'
   hpc_account = '--account cbio'

}
process {
   container = "${my_cacheDir}/nfcore-rnaseq-1.3.img"
   executor = 'slurm'
   queue = params.hpc_queue
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
   clusterOptions = params.hpc_account
}
