/*
 * -------------------------------------------------
 *  ILIFU cluster config file (Tychus Assembly module)
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/ceph/cbio/users/katie/singularity_containers/" 
}

env {
TRIMMOMATIC='/opt/Trimmomatic-0.36' //KL specify Trimmomatic location in singularity image
CISA='/opt/CISA1.2' //CISA location in singularity image
}

process {
   container = "/ceph/cbio/users/katie/singularity_containers/uct-cbio-rnaseq-2018-04-12-64b02180ccd0.img"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main' //KL new queue name on HPC?
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

params {
   igenomes_base = '/ceph/cbio/dbs/rna-seq/references'
   	max_memory = 256.GB
   	max_cpus = 64
   	max_time = 1000.h
	  email = "katieviljoen@gmail.com"
}

