/*
 * -------------------------------------------------
 *  University of Cape Town HEX cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers"
}

process {
   executor = 'pbs'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'UCTlong'
   // clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
   clusterOptions = { "-M $params.email -m abe" }

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4

   // The default is for a task.attempt = 1 is 80GB. To get that on Hex we need to bump up the cores to 40.
   $star {
     cpus = { check_max( 40 * task.attempt, 'cpus' ) }
     memory = { check_max( 80.GB * task.attempt, 'memory' ) }
     time = { check_max( 8.h * task.attempt, 'time' ) }
   }


}

executor{
   jobName = { "$task.tag" }
}

params {
   igenomes_base = '/scratch/DB/bio/rna-seq/references'
}
