/*
 * -------------------------------------------------
 *  University of Cape Town HEX cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers"
}

process {
   container="/scratch/DB/bio/singularity-containers/uct-cbio-rnaseq.img"
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'UCTlong'
   clusterOptions = { "-M $params.email -m abe" }
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

executor{
   executor = 'pbs'
   jobName = { "$task.tag" }
}

params {
   igenomes_base = '/scratch/DB/bio/rna-seq/references'
   	max_memory = 256.GB
   	max_cpus = 64
   	max_time = 1000.h
	  email = "katieviljoen@gmail.com"
}

